@import "tailwindcss";

:root {
    --bg-app: #f9f9f9;
    --bg-surface: #fff;
}

body {
    background: var(--bg-app)
}

.btn-primary {
    @apply bg-purple-500/20 text-purple-500 px-2 py-1 rounded-md text-[12px] flex gap-1 justify-center items-center;
}

main {
    @apply max-w-5xl mx-auto px-4 md:px-0;
}

#form input {
    @apply border border-black/10 bg-[var(--bg-surface)] rounded;
}